@charset "UTF-8";
.heder {
  max-width: 1600px;
  border-bottom: 1px solid #ECECEC;
  margin-right: auto;
  margin-left: auto;
  background-color: #FFFFFF;
}

/* <<<<<<<<<<<<<<<НАВІГАЦІЯ>>>>>>>>>>>>>>>>>.. */
.heder-main {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
}

.navigation__logo {
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--heder-main-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.navigation__web {
  color: var(--heder-accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.navigation__list {
  display: flex;
}

.navigation__item + .navigation__item {
  margin-left: 50px;
}

.navigation__link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  color: var(--heder-main-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--function-transition);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--heder-accent-color);
}

/* <<<<<<<<<<<<<<<КОНТАКТИ>>>>>>>>>>>>>>>>>.. */
.contact {
  display: flex;
  margin-left: auto;
  padding-bottom: 32px;
  padding-top: 32px;
}

.contact__items + .contact__items {
  margin-left: 50px;
}

.contact__link {
  color: var(--heder-secondary-color);
  font-weight: 500;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms var(--function-transition);
}
.contact__link:hover, .contact__link:focus {
  color: var(--heder-accent-color);
}

.navigation__link--acccent {
  position: relative;
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  color: var(--heder-accent-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation__link--acccent::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--heder-accent-color);
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
  z-index: 2;
}

.contact__post {
  height: 12px;
  width: 16px;
  margin-right: 10px;
  fill: var(--heder-secondary-color);
}
.contact__link:hover .contact__post, .contact__link:focus .contact__post {
  fill: currentColor;
  transition: fill 250ms var(--function-transition);
}

.contact__tell {
  height: 16px;
  width: 10px;
  margin-right: 10px;
  fill: var(--heder-secondary-color);
}
.contact__link:hover .contact__tell, .contact__link:focus .contact__tell {
  fill: currentColor;
  transition: fill 250ms var(--function-transition);
}

.hero {
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-right: auto;
  margin-left: auto;
  background-color: #C4C4C4;
  color: var(--main-hero-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-img.jpg);
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 696px;
  margin: 0 auto;
}

.hero__btn {
  margin-top: var(--tipical-margin);
  align-items: center;
  text-align: center;
}
.hero__btn:hover {
  color: var(--main-btn-accent-color);
  background-color: var(--main-btn-color);
  font-family: Roboto, Tahoma, sans-serif;
}

.skills__list {
  display: flex;
}

.skills__item + .skills__item {
  margin-left: var(--tipical-margin);
}

.skills__title {
  margin-bottom: 10px;
  color: var(--main-first-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.skills__text {
  width: 270px;
  color: var(--main-secondary-color);
  line-height: 24px;
}

.skills__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.skills__icon {
  width: 70px;
  height: 70px;
}

.product {
  padding-top: 0;
  color: var(--main-first-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.product__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.product__list {
  display: flex;
}

.product__item + .product__item {
  margin-left: var(--tipical-margin);
}

.product__img {
  max-width: 100%;
  height: auto;
  display: block;
}

.product__img {
  position: relative;
}

.product__text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--main-hero-color);
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.team {
  background-color: #F5F4FA;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
}

.team__item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
}

.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__text {
  color: var(--main-secondary-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team__img {
  margin-bottom: var(--tipical-margin);
}

.team__item + .team__item {
  margin-left: 30px;
}

.soc-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.soc-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  background-color: #FFFFFF;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--function-transition);
}
.soc-list__link:hover, .soc-list__link:focus {
  background-color: var(--main-btn-accent-color);
}

.soc-list__item + .soc-list__item {
  margin-left: 10px;
}

.soc-list__icon {
  fill: #AFB1B8;
}
.soc-list__link:hover .soc-list__icon, .soc-list__link:focus .soc-list__icon {
  fill: #FFFFFF;
  transition: fill 250ms var(--function-transition);
}

.client {
  background-color: #FFFFFF;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.client__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.client__list {
  display: flex;
  justify-content: center;
}

.client__link {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms var(--function-transition), border-radius 250ms var(--function-transition);
}
.client__link:hover {
  border: 1px solid var(--main-btn-accent-color);
  border-radius: 4px;
}

.client__item + .client__item {
  margin-left: 30px;
}

.client__icon {
  fill: #AFB1B8;
}
.client__link:hover .client__icon {
  fill: var(--main-btn-accent-color);
  transition: fill 250ms var(--function-transition);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.main-footer {
  display: flex;
  align-items: baseline;
}

.adress__logo {
  display: block;
  margin-bottom: 20px;
  color: var(--footer-first-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.adress__web {
  color: var(--footer-accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.adress_position {
  color: var(--footer-first-color);
  font-style: normal;
  line-height: 1.71;
  transition: color 250ms var(--function-transition);
}
.adress_position:hover, .adress_position:focus {
  color: var(--footer-accent-color);
}

.adress__item {
  display: block;
  margin-bottom: 9px;
}

.adress__item:last-child {
  margin-bottom: 0;
}

.adress__contact {
  color: var(--footer-secondary-color);
  font-style: normal;
  line-height: 1.71;
  transition: color 250ms var(--function-transition);
}
.adress__contact:hover, .adress__contact:focus {
  color: var(--footer-accent-color);
}

.soc-footer {
  margin-left: 70px;
}

.soc-footer__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.soc-footer__list {
  display: flex;
  justify-content: center;
}

.soc-footer__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
}
.soc-footer__link:hover, .soc-footer__link:focus {
  background-color: var(--main-btn-accent-color);
  transition: background-color 250ms var(--function-transition);
}

.soc-footer__item + .soc-footer__item {
  margin-left: 10px;
}

.soc-footer__icon {
  fill: #FFFFFF;
}
.soc-footer__link:hover .soc-footer__icon, .soc-footer__link:focus .soc-footer__icon {
  fill: #FFFFFF;
  transition: fill 250ms var(--function-transition);
}

.footer-modal {
  margin-left: 93px;
}

.footer-modal__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-first-color);
  margin-bottom: 20px;
}

.footer-modal__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  outline: none;
  background-color: #2F303A;
  margin-right: 12px;
  color: var(--footer-first-color);
}

.footer-modal__btn {
  display: inline-flex;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-modal__btn:hover {
  color: var(--main-btn-accent-color);
  background-color: var(--main-btn-color);
  font-family: Roboto, Tahoma, sans-serif;
}

.footer-modal__icon {
  margin-left: 10px;
  fill: var(--footer-first-color);
}
.footer-modal__btn:hover .footer-modal__icon {
  fill: var(--main-btn-accent-color);
  transition: fill, 250ms var(--function-transition);
}

.backdrop {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  transition: opacity 250ms var(--function-transition), visibility 250ms var(--function-transition);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--main-hero-color);
  border-radius: 4px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.backdrop-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  background-origin: border-box;
}
.modal-close-btn:focus .backdrop-icon {
  fill: var(--main-btn-accent-color);
  transition: fill 250ms var(--function-transition);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-first-color);
  margin-bottom: 12px;
}

.modal-imput {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 4px;
  padding-left: 42px;
  outline: none;
}
.modal-imput:focus {
  border-color: var(--main-btn-accent-color);
  transition: border-color 250ms var(--function-transition);
}

.modal-coment {
  width: 100%;
  height: 100px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
}
.modal-coment:focus {
  border-color: var(--main-btn-accent-color);
  transition: border-color 250ms var(--function-transition);
}

.modal-lable {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-secondary-color);
}

.checkbox {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-btn-accent-color);
}

.modal-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-first-color);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-origin: border-box;
}

.modal-icon-check {
  fill: transparent;
}

.input-check:checked ~ .modal-text span {
  background-color: var(--main-btn-accent-color);
  border: none;
}

.input-check:checked ~ .modal-text .modal-icon-check {
  fill: var(--main-btn-color);
}

.modal-group {
  position: relative;
}

.modal-icon-name {
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translateY(-20%);
}
.modal-imput:focus + .modal-icon-name {
  fill: var(--main-btn-accent-color);
  transition: fill 250ms var(--function-transition);
}

.modal-icon-tel {
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translateY(-20%);
}
.modal-imput:focus + .modal-icon-tel {
  fill: var(--main-btn-accent-color);
  transition: fill 250ms var(--function-transition);
}

.modal-icon-mail {
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translateY(-20%);
}
.modal-imput:focus + .modal-icon-mail {
  fill: var(--main-btn-accent-color);
  transition: fill 250ms var(--function-transition);
}

.modal-btn {
  display: block;
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.modal-btn:hover {
  color: var(--main-btn-accent-color);
  background-color: var(--main-btn-color);
  font-family: Roboto, Tahoma, sans-serif;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.button-list__item + .button-list__item {
  margin-left: 8px;
}

.button-list__item {
  border-radius: 4px;
  transition: box-shadow 250ms var(--function-transition);
}
.button-list__item:hover, .button-list__item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list__btn {
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  font-family: Roboto, sans-serif;
  background-color: #F5F4FA;
  color: var(--main-first-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: color 250ms var(--function-transition), background-color 250ms var(--function-transition);
}
.button-list__btn:hover, .button-list__btn:focus {
  font-family: Roboto, sans-serif;
  color: var(--main-hero-color);
  background-color: #2196F3;
}

.page-card {
  display: flex;
  flex-wrap: wrap;
}

.page-card__item {
  width: 370px;
  margin-right: var(--tipical-margin);
  margin-bottom: var(--tipical-margin);
  position: relative;
}

.page-card__link {
  display: block;
  transition: box-shadow 250ms var(--function-transition);
}
.page-card__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.page-card__item:nth-child(3n) {
  margin-right: 0;
}

.page-card__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.page-card__content {
  position: relative;
  overflow: hidden;
}

.page-card__text {
  color: var(--main-hero-color);
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--function-transition);
}
.page-card__item:hover .page-card__text {
  transform: translateY(0%);
}

.page-card__main-content {
  padding: 20px 24px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.page-card__img {
  max-width: 100%;
  height: auto;
}

.page-card__main-title {
  margin-bottom: 4px;
  color: var(--main-first-color);
  background-color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.page-card__main-text {
  color: var(--main-text-color);
  background-color: #FFFFFF;
  font-size: 16px;
  line-height: 1.87;
}

:root {
  --heder-first-color:#212121;
  --heder-secondary-color:#757575;
  --heder-accent-color:#2196F3 ;
  --main-first-color:#212121;
  --main-hero-color:#FFFFFF;
  --main-secondary-color:#757575;
  --main-btn-color:#FFFFFF;
  --main-btn-accent-color:#2196F3 ;
  --main-text-color: #757575;
  --footer-first-color:#FFFFFF;
  --footer-secondary-color:rgba(255, 255, 255, 0.6) ;
  --footer-accent-color:#2196F3;
  --tipical-margin: 30px;
  --function-transition:cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

p, h1, h2, h3, h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.line {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.btn {
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  min-width: 200px;
  color: var(--main-hero-color);
  background-color: var(--main-btn-accent-color);
  font-family: Roboto, sans-serif;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: color, 250ms var(--function-transition), background-color 250ms var(--function-transition);
}

body {
  font-family: Roboto, sans-serif;
  color: var(--heder-main-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--main-hero-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}/*# sourceMappingURL=main.css.map */