.client {
    background-color: #FFFFFF;
    margin-right: auto;
    margin-left: auto;
}

.client__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em; 
    margin-bottom: 50px;
}
.client__list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.client__item{
  
    &:nth-child(2n+1){
            margin-right: 30px;
    }
    &:nth-child(-n + 4){
            margin-bottom: 30px;
    }     
}

.client__link{
    width: 210px;   
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: border 250ms var(--function-transition),
    border-radius 250ms var(--function-transition);
    
    &:hover{
        border: 1px solid var(--main-btn-accent-color);
        border-radius: 4px;
    }
}

.client__icon{
    fill: #AFB1B8;

    .client__link:hover &{
        fill: var(--main-btn-accent-color);
        transition: fill 250ms var(--function-transition) ;
    }
}

