.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    
    background-color:#2F303A ;
    
    @media screen and (min-width: 1200px){
        max-width: 1600px;
        margin-right: auto;
        margin-left: auto;
   }
}
.main-footer{
    display: block;
    align-items: baseline;
    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-around;
        
   }

    @media screen and (min-width: 1200px){
         display: flex;
    }
}
.adress{
    margin-bottom: 60px;
    @media screen and (max-width: 767px){
        margin: 0 auto;
        
   }
    
}
.adress__logo{
    display: block;
    margin-bottom: 20px;

    color: var(--footer-first-color);
    font-family: 'Raleway' ,sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;  
    
    @media screen and (max-width: 1199px){
        text-align: center;
   }
}
.adress__web{
    color: var(--footer-accent-color)  ;  
    font-family: 'Raleway' ,sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.adress_position{
    color: var(--footer-first-color);
    font-style: normal;
    line-height: 1.71;
    transition: color 250ms var(--function-transition) ;

    &:hover,
    &:focus{
    color:var(--footer-accent-color) ;
}
}


.adress__item{
    display: block;
    margin-bottom: 9px;

    @media screen and (max-width: 1199px){
        text-align: center;
   }
}
.adress__item:last-child{
    margin-bottom: 0;
}
.adress__contact{
    color:  var(--footer-secondary-color);
    font-style: normal;
    line-height: 1.71;
    transition: color 250ms var(--function-transition) ;

    &:hover,
    &:focus{ 
    color:var(--footer-accent-color) ; 
}
}

.soc-footer{
    margin-bottom: 60px;

    @media screen and (min-width: 1200px){
        margin-left: 70px;
    }
    
}
.soc-footer__title{
    text-align: center;
    display: block;
    margin-bottom: 20px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.soc-footer__list{
    display: flex;
    justify-content: center;
    
}
.soc-footer__link{
   width: 44px;
   height: 44px;
   border-radius: 50%;
   display: flex;     
   background-color: rgba(255, 255, 255, 0.1);;
   justify-content: center;
   align-items: center;
   
   &:hover,
   &:focus{
        background-color:var(--main-btn-accent-color);
        transition: background-color 250ms var(--function-transition) ;
}
}
.soc-footer__item + .soc-footer__item{
    margin-left: 10px;
}
.soc-footer__icon{
    fill:  #FFFFFF;

    .soc-footer__link:hover &,
    .soc-footer__link:focus &{
        fill: #FFFFFF;
        transition: fill 250ms var(--function-transition) ;
}
}







.footer-modal{
    
    @media screen and (min-width: 1200px){
        margin-left: 93px;
    }
    
    
}
.footer-modal__text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--footer-first-color);
    margin-bottom: 20px;

    @media screen and (max-width: 1199px){
        text-align: center;
   }
    
}
.footer-modal__input{
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left: 16px;
    outline: none;
    background-color: #2F303A;
    margin-right: 12px;
    color: var(--footer-first-color);

    @media screen and (min-width: 1200px){
        width: 358px;
        margin-bottom: 0px;
    }

}


.footer-modal__btn{
    
    margin: 0 auto;
    display: block;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    &:hover{
        color: var(--main-btn-accent-color);
        background-color:var(--main-btn-color) ;
        font-family:Roboto, Tahoma , sans-serif;   
    }

    @media screen and (min-width: 1200px){
        display: inline-flex;
        align-items: center;
    }
}


.footer-modal__icon{
    
    margin-left: 10px;
     fill: var(--footer-first-color);

     .footer-modal__btn:hover &{
        fill: var(--main-btn-accent-color);
        transition: fill,   250ms var(--function-transition);
    }
}
