
.skills__list{
    display: block;  
    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;   
    }
}

.skills__item{
    margin-bottom: 30px;
    
    @media screen and (min-width: 768px){
        width: calc(100% / 2 - 30px);
        
        &:last-child{
            margin-bottom: 30px;
        }
        &:nth-child(2n+1){
            margin-right: 30px;
        }
        &:nth-child(n + 3){
            margin-bottom: 0px;
        }     
    }
    
    @media screen and (min-width: 1200px){
        
        width: calc(100% / 4 - 30px);
        
        margin-bottom: 0px;
        
        
        &:nth-child(n+1){
            margin-right: 30px;
        }

        &:last-child{
            margin-right: 0px;
        }
    }

}



.skills__img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;

    background-color:#F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    
}
.skills__icon{
    width: 70px;
    height: 70px;
    
}

.skills__title{
    margin-bottom: 10px;

    color: var(--main-first-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;  
    text-align: center; 
}
.skills__text{
    width: 100%;
    color: var(--main-secondary-color) ;
    line-height: 24px;
}