
.skills__list{
    display: flex;  
}
.skills__item +.skills__item{
    margin-left: var(--tipical-margin);  
}

.skills__title{
    margin-bottom: 10px;

    color: var(--main-first-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;   
}
.skills__text{
    width: 270px;
    color: var(--main-secondary-color) ;
    line-height: 24px;
}

.skills__img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;

    background-color:#F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}
.skills__icon{
    width: 70px;
    height: 70px;
}