:root{
    --heder-first-color:#212121;
    --heder-secondary-color:#757575;
    --heder-accent-color:#2196F3 ;
    --main-first-color:#212121;
    --main-hero-color:#FFFFFF;
    --main-secondary-color:#757575;
    --main-btn-color:#FFFFFF;
    --main-btn-accent-color:#2196F3 ;
    --main-text-color: #757575;
    --footer-first-color:#FFFFFF;
    --footer-secondary-color:rgba(255, 255, 255, 0.6) ;
    --footer-accent-color:#2196F3;
    --tipical-margin: 30px;
    --function-transition:cubic-bezier(0.4, 0, 0.2, 1); 
}